/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
body{line-height:1}
del{text-decoration:line-through}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
input,select{vertical-align:middle}
li{list-style:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
nav ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}


/* =============================================================================
   Mi CSS
   ========================================================================== */

/* ---- root variables ---- */

:root {
  --redborder: rgba(255,74,110,.3);
  --turquoiseborder: rgba(36,177,209,.3);
  --yellowborder: rgba(255,221,87,.3);
  --purpleborder: rgba(184,107,255,.3);
  --greenborder: rgba(35,209,153,.3);
}

/* ---- base ---- */

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif !important;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas {
  display:block;
  vertical-align:bottom;
}

::selection {
  background-color: #ff4a6e;
  color: #fff;
}

.parent-container {
  display: table;
  height: 100vh;
  width: 100%;
}

.child-container {
  display: table-cell;
  vertical-align: middle;
}

body::-webkit-scrollbar {
    width: 0.9em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* ---- general ---- */

.section-title {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.section-subtitle {
  color: rgb(145, 149, 149);
  font-size: 1em;
  margin-bottom: 20px;
}

.footer {
  background-color: rgba(208, 208, 208, 0.3) !important;
  padding-bottom: 2rem !important;
}

/* ---- hero ---- */

.shadow-red {
  box-shadow: inset 0 -6px 0 rgba(255,74,110,.2);
}

.shadow-turquoise {
  box-shadow: inset 0 -6px 0 rgba(36,177,209,.3);
}

.shadow-yellow {
  box-shadow: inset 0 -6px 0 rgba(255,221,87,.3);
}

.shadow-purple {
  box-shadow: inset 0 -6px 0 rgba(184,107,255,.3);
}

.shadow-green {
  box-shadow: inset 0 -6px 0 rgba(35,209,153,.3);
}

.navbar {
  margin: 1rem 4rem !important;
}

.is-link {
  color: #212121;
}

.is-link:hover, .is-link.is-active {
  box-shadow: inset 0 -6px 0 rgba(74, 125, 227, 0.4);
}

.intro-text {
  font-size: 1.5rem;
  max-width: 20em;
}

.is-link.caret {
  color: rgba(12,124,203,1);
}

.landing-img {
  width: 65%;
}

/* ---- skills ---- */

#skills {
  /*margin-top: -10rem;*/
  padding-bottom: 1rem;
}

.box {
  padding: 0;
  border-radius: 12px;
  box-shadow: 0 3px 7px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.2);
}

.column.has-text-centered.padder.mid-border:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.is-skill-icon {
  width: 15%;
  margin: 24px 0;
}

.skill-title {
  margin: 24px 0;
  color: rgba(37, 54, 126, 1);
  font-weight: bold;
}

.skill-text {
  font-size: 1.1em;
}

.list-title {
  color: rgba(74, 125, 227, 1);
  margin: 15px 0 10px 0;
}

.is-blue {
  background-image: linear-gradient( 109.6deg,  rgba(12,124,203,1) 23%, rgba(39,78,243,1) 95.2% );
}

.white-text {
  color: #fff !important;
}

.padder {
  padding: 12px 48px !important;
}

.hero.is-medium.is-blue {
  transform: skew(0, 3deg) translateY(60px);
}

.hero.is-medium.is-blue > .hero-body {
  transform: skew(0, -3deg) translateY(-60px);
}

.hero-body {
  padding-top: -3rem !important;
}

/* ---- footer ---- */

.footer-social-text {
  font-size: 1.15em;
}

.ball {
  position: fixed;
  border-radius: 100%;
  opacity: 0.5;
	overflow-x: hidden;
	height: 100vh;
  z-index: -1;
}

@media screen and (max-width: 768px) {
    .column.has-text-centered.padder.mid-border:first-child {
      border-right: none;
    }

    #contact {
      padding-bottom: 1rem !important;
    }
}
