/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
body{line-height:1}
del{text-decoration:line-through}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
input,select{vertical-align:middle}
li{list-style:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
nav ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}


/* =============================================================================
   Mi CSS
   ========================================================================== */

/* ---- root variables ---- */

:root {
  --redborder: rgba(255,74,110,.3);
  --turquoiseborder: rgba(36,177,209,.3);
  --yellowborder: rgba(255,221,87,.3);
  --purpleborder: rgba(184,107,255,.3);
  --greenborder: rgba(35,209,153,.3);
}

/* ---- base ---- */

html, body {
  height: 100%;
  width: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas {
  display:block;
  vertical-align:bottom;
}

::selection {
    background-color: #ff4a6e;
    color: #fff;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.parent-container {
  display: table;
  height: 100vh;
  width: 100%;
}

.child-container {
  display: table-cell;
  vertical-align: middle;
}

/* ---- hero ---- */

.is-link {
    color: #212121;
}

.is-link:hover, .is-link.is-active {
    box-shadow: inset 0 -6px 0 rgba(74, 125, 227, 0.4);
}

.intro-text {
    font-size: 1.5rem;
    max-width: 20em;
}

/* ---- clients section ---- */

/*#clients {
    width: 100%;
    height: 200px;
}*/

/* ---- skills ---- */

#skills {
    margin-top: -10rem;
    padding-bottom: 1rem;
}

.box {
    padding: 0;
    border-radius: 12px;
}

.is-skill-icon {
    width: 15%;
    margin: 24px 0;
}

.skill-title {
    margin: 24px 0;
    color: #0f3785;
    font-weight: bold;
}

.skill-text {
    font-size: 1.1em;
}

.list-title {
    color: rgba(74, 125, 227, 1);
    margin: 15px 0 10px 0;
}

.is-blue {
    background-image: linear-gradient( 109.6deg,  rgba(12,124,203,1) 23%, rgba(39,78,243,1) 95.2% );
}

.white-text {
    color: #fff !important;
}

.padder {
    padding: 12px 48px !important;
}

.hero.is-medium.is-blue {
    transform: skew(0, 3deg) translateY(60px);
}

.hero.is-medium.is-blue > .hero-body {
    transform: skew(0, -3deg) translateY(-60px);
}

@media screen and (max-width: 768px) {
    #skills {
        margin-top: -3rem;
    }

    .mobile-title {
        padding-top: 60px;
    }

    .mobile-padder {
        padding-bottom: 10rem;
    }
}
